*
  outline: none

$width: 100vw / 6

canvas
  position: fixed
  z-index: -1

#index
  margin: 0
  width: 100vw
  main
    .landing
      height: 100vh
      display: flex
      align-items: center
      justify-content: center
      .grad-background
        width: 100%
        height: 50%
        position: absolute
        top: 0
        background: linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%)
      .landing-img
        max-width: 650px
        margin: 0px 100px
        border: solid 1px black
        transition: transform 400ms
        transition-timing-function: ease-out
        .site-header
          position: absolute
          text-transform: uppercase
          top: 50%
          left: -100px
          transition: transform 400ms
          transition-timing-function: ease-out
        .img-fluid
          transition: transform 400ms
          transition-timing-function: ease-out
    .about
      height: 100vh
      display: flex
      justify-content: center
      align-items: center
      .container
        text-align: center
        max-width: 700px
    .comments
      height: 100vh
      display: grid
      grid-template-columns: 30% 70%
      .form
        background: linear-gradient(45deg, #7ae7d7 1%, #7ae7d7 40%, #7be7d7 40%, #86a4e3 100%)
        display: flex
        align-items: center
        justify-content: center
        form
          text-align: center
          width: 60%
          textarea
            resize: none
            margin-bottom: 18px
      .display
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        .container
          border: solid 1px #dedede
          width: 80%
          height: 80vh
          overflow-y: scroll
          border-radius: 5px
          background-color: white
          .comment
            margin: 10px 0px
            display: grid
            grid-template-columns: 100px 30px 70px auto 20px
            grid-column-gap: 10px
            .date
              color: #797979
              margin-top: 7px
            img
              height: 30px
              border-radius: 50%
            .name
              font-weight: 700
              color: #797979
              margin-top: 7px
            .text
              margin-top: 7px
            .delete
              margin-top: 7px
              cursor: pointer
              user-select: none
              justify-self: center
    .follow
      width: 100%
      display: flex
      align-items: center
      #instafeed
        width: 100%
        margin: auto
        display: grid
        grid-template-columns: auto auto auto auto auto auto
        grid-template-rows: $width $width
        .image
          height: 100%
          width: 100%
          background-position: center
          background-repeat: no-repeat
          background-position: center
          background-size: cover

.position1
  transform: translate(-20px, -20px)
  .site-header
    transform: translateY(-50%)
  .img-fluid
    transform: translate(40px, 40px)

.position2
  transform: translate(20px, 20px)
  .site-header
    transform: translateY(-50%) translate(550px, 140px)
  .img-fluid
    transform: translate(-40px, -40px)

.position3
  transform: translate(20px, -20px)
  .site-header
    transform: translateY(-50%) translate(200px, -250px)
  .img-fluid
    transform: translate(-40px, 40px)

@media (max-width: 767px)
  #index
    font-size: 14px
    main
      .landing
        .position1
          transform: translate(-2vw, -2vw)
          .img-fluid
            transform: translate(4vw, 4vw)
        .landing-img
          max-width: 70vw
          margin: 0px 20px
          .site-header
            top: -50%
            left: 37vw
            transform: translate(-50%, -50%)
            text-align: center
      .about
      .comments
        height: 100vh
        grid-template-columns: auto
        grid-template-rows: 80% 20%
        .form
          grid-row-start: 2
          form
            width: 95%
            .form-group
              display: grid
              grid-template-columns: 80% 20%
              margin-bottom: 0
              textarea
                align-self: center
                justify-self: center
                margin-bottom: 0
              button
                align-self: center
                justify-self: center
        .display
          .container
            height: 80%
            width: 95%
            margin-top: 50px
            .comment
              grid-template-columns: 35px 30px 30px auto 10px
              grid-column-gap: 7px
              small
                margin-top: 9px

@media (min-width: 768px) and (max-width: 992px)
  #index
    font-size: 18px
    main
      .landing
        .landing-img
          .site-header
            top: 0
            left: 20px
            transform: translate(0, 0)
            // text-align: center
      .about
        height: 60vh
      .comments
        height: 100vh
        grid-template-columns: auto
        grid-template-rows: 80% 20%
        .form
          grid-row-start: 2
          form
            width: 95%
            .form-group
              display: grid
              grid-template-columns: 80% 20%
              margin-bottom: 0
              textarea
                align-self: center
                justify-self: center
                margin-bottom: 0
              button
                align-self: center
                justify-self: center
        .display
          .container
            height: 80%
            width: 95%
            margin-top: 50px
            .comment
              grid-template-columns: 60px 30px 50px auto 10px
              grid-column-gap: 7px
              small
                margin-top: 9px
