<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Evuary 2018</title>
    <link rel="stylesheet" async href="/vendors/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/vendors/bootstrap-grid.min.css"> -->
    <link rel="stylesheet" async href="/styles/main.min.css">
  </head>

  <body id="index">

    <main>

      <!-- first content block -->
      <div class="landing">
        <div class="grad-background"></div>
        <div class="landing-img position1">
          <img src="/assets/images/evi0.jpg" class="img-fluid" alt="Responsive image">
          <h1 class="site-header">Evuary<br>2018.</h1>
        </div>
      </div>

      <!-- navigation menu -->
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">Celebrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Follow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Login</a>
          </li>
        </ul>
      </nav>

      <!-- about -->
      <div class="about">

      </div>

      <!-- message board -->
      <div class="comments">

      </div>

    </main>

    <footer>

    </footer>

    <!-- scripts -->
    <script src="/vendors/vendors.min.js" charset="utf-8"></script>
    <script src="bundle.min.js" charset="utf-8"></script>

  </body>

</html>
